<section id="cart-list">
  <div class="cart">
    <p>A book</p>
    <p>Quantity: <span>1</span></p>
    <a href="/delete-from-cart" class="btn btn-danger">Delete</a>
  </div>
  <div class="cart">
    <p>A book</p>
    <p>Quantity: <span>1</span></p>
    <a href="/delete-from-cart" class="btn btn-danger">Delete</a>
  </div>
  <div class="cart">
    <p>A book</p>
    <p>Quantity: <span>1</span></p>
    <a href="/delete-from-cart" class="btn btn-danger">Delete</a>
  </div>
  <div class="cart">
    <p>A book</p>
    <p>Quantity: <span>1</span></p>
    <a href="/delete-from-cart" class="btn btn-danger">Delete</a>
  </div>
</section>