<section id="cart-list">
  {{#each cart}}
    <div class="cart">
      <p>{{title}}</p>
      <p>Quantity: <span>{{quantity}}</span></p>
      <form action="/shop/cart" method="DELETE">
         <input type="hidden" name="productId" value="{{id}}"  />
         <button type="submit" class="btn btn-danger">Delete</a>
      </form>
    </div>
  {{/each}}
</section>