<h1 class="title">Something went wrong :(.</h1>
<p class="title">We are experiencing some issues, we are working on them, come back later.</p>

<a href="/" class="btn btn-primary" style="display: block; margin-inline: auto;">Go to main page</a>