<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/components.css">
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <ul>
          <li>
            Shop
            <ul class="navbar-submenu">
              <li>
                <a href="/shop/products">Products</a>
              </li>
            {{#if isLoggedIn}}
                 <li>
                  <a href="/shop/cart">Cart</a>
                </li>
                <li>
                  <a href="/shop/orders">Orders</a>
                </li>
            {{/if}}
            </ul>
          </li>

          {{#if isLoggedIn}}
              <li>
                Admin
                <ul class="navbar-submenu">
                  <li>
                    <a href="/admin/products">Products</a>
                  </li>
                  <li>
                    <a href="/admin/product-form">Add Product</a>
                  </li>
                </ul>
              </li>
            {{/if}}
            </ul>
        </ul>

        <ul>
          {{#if isLoggedIn}}
            <li>
              <form action="/auth/logout" method="post">
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                <button type="submit">Logout</button>
              </form>
            </li>
          {{else}}
            <li>
              <a href="/auth/login">Login</a>
            </li>
            <li>
              <a href="/auth/signup">Signup</a>
            </li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main class="main">
      {{{body}}}
    </main>
  </body>
</html>