  {{#if errorMessage}}
    <div class="user-message user-message--error">{{errorMessage}}</div>
  {{/if}}

<form id="product-form" action="/auth/new-password" method="post">
  <input type="hidden" name="userId" value="{{userId}}" >
  <input type="hidden" name="resetToken" value="{{resetToken}}" >

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
  </div>

  <button class="btn btn-primary" type="submit">Change password</button>
</form>